.profile__description {
  width: 310px;
  height: 77px;
  margin-left: 20px;

  display: flex;
  flex-flow: row wrap;
  align-self: center;

  color: #FFFFFF;
}

@media screen and (max-width: 525px) {
  .profile__description {
    justify-content: center;
  }
}