@import url(./__image/place__image.css);
@import url(./__description/place__description.css);
@import url(./__like-btn/place__like-btn.css);
@import url(./__title/place__title.css);

.place {
  width: 282px;
  height: 361px;

  background-color: #FFFFFF;
  border-radius: 10px;
}